<%- include("header", {title: title}); %>


<h1>Create new account</h1>
<p>Create a new account holder</p>
<form method="post">
    <!-- <fieldset> -->
        <!-- <legend>Create account</legend> -->

        <!-- <label for "id">Id:</label> -->
        <input id="id" type="text" name="id" placeholder="Id">
<br>
        <!-- <label for "name">Name:</label> -->
        <input id="name" type="text" name="name" placeholder="Name">
<br>
        <!-- <label for "balance">Balance:</label> -->
        <input id="balance" type="number" name="balance" placeholder="balance">
<br>
        <input type="submit" name="doit" value="Create">
    <!-- </fieldset> -->
</form>


<%- include("footer"); %>
