<!doctype html>
<head>
<meta charset="utf8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/bankstyle.css">
<link rel="icon" href="/favicon.ico">
</head>

<header>
    <nav>
        <a href="/bank/index">Index</a> |
        <a href="/bank/balance">Balance</a> |
        <a href="/bank/move-to-adam">Move to Adam</a>
    </nav>
</header>
