<%- include("header", {title: title}); %>


<h1>CdOff online vinyls shopping</h1>

<p>Choose from the menu atop</p>
<div class="homeimg">
    <img src="/img/home.png" alt="vinyleshop">
</div>


<%- include("footer"); %>
