<%- include("header", {title: title}); %>


<h1>Create a new product</h1>

<form method="post">
    <!-- <fieldset> -->
        <!-- <legend>Create account</legend> -->

        <!-- <label for "id">Id:</label> -->
        <input id="id" type="text" name="id" placeholder="Id">
<br>
        <!-- <label for "name">Name:</label> -->
        <input id="description" type="text" name="description" placeholder="Article">
<br>
        <!-- <label for "balance">Balance:</label> -->
        <input id="price" type="number" name="price" placeholder="Price">
<br>
        <input type="submit" name="doit" value="Create">
    <!-- </fieldset> -->
</form>


<%- include("footer"); %>
