<%- include("header", {title: title}); %>
<div class="container">
<h1>Tenta tajm</h1>

<p>meny finns ovan</p>
<!-- <div class="homeimg">
    <img src="/img/home.png" alt="vinyleshop">
</div> -->

</div>
<%- include("footer"); %>
